h4 {
  text-align: center;
  margin-bottom: 50px;
}

.single-product {
  border: 1px solid rgba(161, 161, 161, 0.2);
  border-radius: 10px;
  margin-bottom: 5px;
}

.single-product .row {
  margin: 20px;
  transition: transform .2s;
}

.single-product .row:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.image {
  height: 150px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 5px;
}

.name, .price, .short-description {
  padding: 5px;
}

.name {
  max-height: 35px;
}

.short-description {
  max-height: 75px;
}

.price {
  max-height: 40px;
  font-size: 150%;
  font-weight: 600;
}

.add-to-cart {
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart button{
  width: 100%;
}

#no-products .alert {
  text-align: center;
}


