<div class="container">
  <!--Retailer Website Name-->
  <h3>
    {{retailer_website_name}}
  </h3>

  <!--Navigation Bar-->
  <div id="navigation-bar">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid custom-container-fluid">

        <!--Navigation links to Manage Retailers and Users-->
        <ul class="nav navbar-nav">

          <!--Home / Product list page for customers-->
          <li routerLinkActive="active" *ngIf="user_type_id != 2 && user_type_id != 3">
            <a routerLink="products">Home</a>
          </li>

          <!--Management stuff-->
          <!--Manage Products-->
          <li routerLinkActive="active" *ngIf="is_user_logged_in && user_type_id == 3">
            <a routerLink="management/products">Manage Products</a>
          </li>
          <!--Manage Users-->
          <li routerLinkActive="active" *ngIf="is_user_logged_in && user_type_id == 3">
            <a routerLink="management/users">Manage Users</a>
          </li>
          <!--Manage orders which are placed by customers-->
          <li routerLinkActive="active" *ngIf="is_user_logged_in && (user_type_id == 3 || user_type_id == 2)">
            <a routerLink="management/orders">Manage Orders</a>
          </li>

          <!--Chat-->
          <li routerLinkActive="active" *ngIf="is_user_logged_in && (user_type_id == 1 || user_type_id == 2)">
            <a routerLink="chat">Online Support</a>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">

          <!--Login-->
          <li routerLinkActive="active" *ngIf="!is_user_logged_in">
            <a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</a>
          </li>

          <!--Signup-->
          <li routerLinkActive="active" *ngIf="!is_user_logged_in">
            <a routerLink="signup"><span class="glyphicon glyphicon-check"></span>&nbsp; Signup</a>
          </li>

          <!--Cart-->
          <li routerLinkActive="active" *ngIf="is_user_logged_in && user_type_id == 1">
            <a routerLink="cart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Cart</a>
          </li>

          <!--Profile Drop down-->
          <li class="dropdown" *ngIf="is_user_logged_in">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp; Profile<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

              <!--For Customers-->
              <!--Manage Address-->
              <li *ngIf="user_type_id == 1">
                <a routerLink="address"><span class="glyphicon glyphicon-plane"></span>&nbsp; Manage Addresses</a>
              </li>
              <!--Order History-->
              <li *ngIf="user_type_id == 1">
                <a routerLink="history"><span class="glyphicon glyphicon-calendar"></span>&nbsp; Order History</a>
              </li>

              <!--For Admins-->
              <!--Update Profile-->
              <li *ngIf="user_type_id == 3">
                <a routerLink="management/profile"><span class="glyphicon glyphicon-pencil"></span>&nbsp; Update Profile</a>
              </li>
              <!--Update Notification Settings-->
              <li *ngIf="user_type_id == 3">
                <a routerLink="management/notifications"><span class="glyphicon glyphicon-bell"></span>&nbsp; Update Notification Settings</a>
              </li>

              <!--For all users-->
              <!--Reset Password-->
              <li>
                <a role="button" (click)="showPasswordModal()"><span class="glyphicon glyphicon-transfer"></span>&nbsp; Reset Password</a>
              </li>
              <!--Logout-->
              <li>
                <a role="button" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </div>

  <!--Router Outlet based on navigation bar tab selection-->
  <router-outlet (activate)="routerLinkActivated()"></router-outlet>
</div>

<!--Modal to update password-->
<div id="password-modal" *ngIf="password_modal_displayed">
  <div class="modal-background fadeIn"></div>
  <div class="modal-container fadeInDown">
    <!--Close Button-->
    <button type="button" class="close" aria-label="Close" (click)="hidePasswordModal()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="modal-header">
      Update Password
    </h3>

    <div class="modal-body">

      <!--Modal body with 3 text fields-->
      <div class="form-group">
        <label for="current-password">Current Password</label>
        <input type="password" class="form-control" id="current-password" placeholder="Current Password" [(ngModel)]="current_password">
      </div>
      <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password" class="form-control" id="new-password" placeholder="New Password" [(ngModel)]="new_password">
      </div>
      <div class="form-group">
        <label for="re-password">Re-enter New Password</label>
        <input type="password" class="form-control" id="re-password" placeholder="Re-enter Password" [(ngModel)]="re_password">
      </div>

    </div>

    <div class="modal-footer">

      <!--Button to save / cancel-->
      <div class="row">
        <button class="btn btn-success" (click)="updatePassword()">Update</button>
        <button class="btn btn-danger" (click)="hidePasswordModal()">Cancel</button>
      </div>

    </div>

  </div>
</div>

<app-toaster></app-toaster>
