h4{
  text-align: center;
}

img{
  border-radius: 5px;
  margin: auto;
  display: block;
  max-width:100%;
  max-height: 345px;
  margin-bottom: 5px;
}

.img-section{
  border: 1px solid rgba(161, 161, 161, 0.2);
  padding: 10px;
}
