<div class="col-xs-12">

  <!--Component Header-->
  <h4>
    Manage Orders
  </h4>

  <!--Table containing order list-->
  <table class="table table-hover">

    <!--Table Headers-->
    <thead>
      <tr>
        <th width="10%">Order ID</th>
        <th width="15%">Date Ordered</th>
        <th width="15%">Number of Products</th>
        <th width="15%">Order Total</th>
        <th width="15%">Order Details</th>
        <th width="15%">Order Status</th>
        <th width="10%">Status As On</th>
      </tr>
    </thead>

    <!--Table body when there are no orders-->
    <tbody *ngIf="order_list.length == 0">
      <tr>
        <th scope="row" colspan="6">No Orders Found</th>
      </tr>
    </tbody>

    <!--Table body when there is atleast one order-->
    <tbody *ngIf="order_list.length > 0">
      <tr *ngFor="let single_order of order_list">
        <th scope="row">{{single_order.id}}</th>
        <td>{{single_order.Created_At | date: 'MMM d, y'}}</td>
        <td>{{single_order['OrderProducts'].length}}</td>
        <td>$ {{getOrderTotal(single_order['OrderProducts']) | number : '1.2-2'}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="viewOrder(single_order)">View Order Details</button>
        </td>
        <td>
          <button
            type="button"
            [ngClass]="getOrderClass(single_order.StatusType_id)"
            (mouseenter)="onMouseEnter($event.target)"
            (mouseleave)="onMouseLeave($event.target, single_order.StatusType_id)"
            (click)="openUpdateStatusModal(single_order)">
            {{ getOrderStatus(single_order.StatusType_id) }}
          </button>
        </td>
        <td>{{single_order.Updated_At | date: 'MMM d, y'}}</td>
      </tr>
    </tbody>

  </table>

</div>

<!--Modal to View order details-->
<app-order-details-modal
  *ngIf="is_order_details_modal_displayed"
  [order]="order_being_viewed"
  [display_user_details] = "true"
  (close) = "closeDetailsModal()">
</app-order-details-modal>

<!--Modal to update order status-->
<div id="order-status-modal" *ngIf="is_update_status_modal_displayed">
  <div class="modal-background fadeIn"></div>
  <div class="modal-container fadeInDown">
    <!--Close Button-->
    <button type="button" class="close" aria-label="Close" (click)="closeUpdateStatusModal()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="modal-header">
      Update Order Status
    </h3>

    <div class="modal-body">

      <!--Modal body with a order status drop down and tracking number text field-->
      <div class="form-group">
        <label for="status-type">Order Status</label>
        <select class="form-control" id="status-type" [(ngModel)]="status_type_id">
          <option value="1">Order Placed</option>
          <option value="2">Order Processed</option>
          <option value="3">Shipped</option>
          <option value="4">Delivered</option>
          <option value="5">Issues</option>
        </select>
      </div>

      <div class="form-group" *ngIf="status_type_id == 3 || status_type_id == 4 || status_type_id == 5">
        <label for="tracking-id">Tracking ID</label>
        <input type="text" class="form-control" id="tracking-id" placeholder="Tracking ID for the Order" [(ngModel)]="tracking_id">
      </div>

    </div>

    <div class="modal-footer">

      <!--Button to save / cancel-->
      <div class="row">
        <button class="btn btn-success" (click)="saveOrderStatus()">Update</button>
        <button class="btn btn-danger" (click)="closeUpdateStatusModal()">Cancel</button>
      </div>

    </div>

  </div>
</div>

<app-toaster></app-toaster>
